/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --pink: #FF0070;
  --page-bg-image: url(../images/cover-image-dark.png);
  --accent-color: var(--pink);
  --secondary-color: #000028;
  --color-text: #000028;
  --section-color-title: var(--pink);
  --site-text-color: #DB00FF;
  --card-text-color: #F1B2CE;
  --decorated-border-color: var(--pink);
  --button-color: var(--pink);
  --header-button-outline-color: rgba(255, 0, 112, 0.4);

  .decorated-rec {
  visibility: visible;
  }

  @media (width >= 768px) {
    .decorated-rec {
    top: 20px;
    right: 48px;
  }
  }
  }